.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about p {
  color: #aaa;
  margin-bottom: 1em;
}

.about a {
  display: block;
  margin-top: 10px;
  padding: 10px 15px;
}
